<%= render partial: 'pin_image', locals: { image_url: pin.image_url,
                                          alt: "image art"} %>
<a class="card__thumb" href="ideas/see-northen-lights.html">
  <div class="card__intro card--show">
    <h3 class="card__title"> <%= pin.title %> </h3>
    <h5 class="card__tag"><%= pin.tag %></h5>
  </div>
</a>
<div class="card__form">
  <div class="card__footer card--show">
    <a class="btn btn--cta" href="<%= edit_pin_path(pin) %>"> 
      <svg class="icon icon--cta" height="20" viewBox="0 0 24 24" width="20">
        <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#edit") %>"></use>
      </svg>
      Edit
    </a>
  </div>
</div>