<!DOCTYPE html>
<html>
  <head>
    <title>Pinboard</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600i,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- START Header -->
    <header class="banner">
      <div class="global-header">
        <div class="content-wrapper">
          <div class="logo">
            <a href="/">
            <span>P<%= image_tag('pinboard_logo.svg', alt: ' Pinboard Logo') %>nboard </span>
            </a>
          </div>
          <%= form_tag(pins_path, class: 'search search--cta', method: 'GET') do %>
            <label for="global-search" class="search__label sr-only">Search</label>
            <div class="search__row">
              <%= text_field_tag 'q', nil, class: 'search__field', placeholder: 'e.g. Origami'%>
              <%= button_tag class: 'btn btn--cta', name: nil do %>
                <svg class="icon icon--cta" height="20" viewBox="0 0 24 24" width="20">
                  <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#search") %>"></use>
                </svg>
                Search
              <% end %>
            </div>
          <% end %>
          <nav>
            <ul class="global-nav bare-list">
              <% if @user.present? && @user.valid? %>
                <li><%= link_to  "My Pins", user_images_path(@user) %></li>
              <% else %>
                <li><%= link_to  "Login/Register", new_user_path %></li>
              <% end %>
              <li><%= link_to  "All the pins", pins_path %></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
<!-- END Header -->
    <%= yield %>
<!-- START Footer -->
    <footer class="global-footer">
      <div class="content-wrapper">
        <div class="nav-footer">
          <div class="logo logo--invert">
            <a href="/">
              <span>P<%= image_tag('pinboard_logo.svg', alt: ' Pinboard Logo') %>nboard </span>
            </a>
          </div>
          <p>2020 &copy; <a href="https://elenagoto.ch/">Laura Elena Gómez</a></p>
        </div>
      </div>
    </footer>
<!-- END Footer -->
  </body>
</html>
