<!DOCTYPE html>
<html>
  <head>
    <title>Pinboard</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600i,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- START Header -->
    <header class="banner">
      <div class="global-header">
        <div class="content-wrapper">
          <div class="logo">
            <a href="/"><span>P<%= image_tag('pinboard_logo.svg', alt: ' Pinboard Logo') %>nboard</a>
          </div>
          <form class="search search--cta" action="ideas" method="get">
            <label for="global-search" class="search__label sr-only">Search</label>
            <div class="search__row">
              <input id="global-search" class="search__field" type="text" name="search" placeholder="e.g. Swimming with dolphins"/>
              <button class="btn btn--cta" type="submit">
                <svg class="icon icon--cta" height="20" viewBox="0 0 24 24" width="20">
                  <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#search") %>"></use>
                </svg>
                Search
              </button>
            </div>
          </form>
          <nav>
            <ul class="global-nav bare-list">
              <li><a href="login.html">Login/Register</a></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
<!-- END Header -->
    <%= yield %>
<!-- START Footer -->
    <footer class="global-footer">
      <div class="content-wrapper">
        <div class="nav-footer">
          <div class="logo logo--invert"><a href="/"><span>P<%= image_tag('pinboard_logo.svg', alt: ' Pinboard Logo') %>nboard</a></div>
          <p>2020 &copy; <a href="https://elenagoto.ch/">Laura Elena Gómez</a></p>
        </div>
      </div>
    </footer>
<!-- END Footer -->
    <!-- START Script -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- END Script -->
  </body>
</html>
